@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");
:host {
  font-size: 36px;
  --font-color-default: rgba(0.0.0,1.0);
}
body {
  color: var(--font-color-default);
  font: Comfortaa,sans-serif;
}
